extends layout

block scripts
  script(src='/javascripts/index.js')

block content
  h1(id='title') default
  p #{userAgent}
  p #{time}
  if projectList
    table(border="1" width='700' cellpadding='12')
      thead(style='text-align: left;')
        tr
          th 项目名称
          th 状态
          th 操作
      tbody
        each val in projectList
          tr
            td #{val.name}
            td #{val.status}
            td 
              button(onclick=`handlePublishClick(${val.id})`) 部署