extends layout

block scripts
  script(src='/javascripts/index.js')

block content
  h1(id='title')
  p user-agent: #{userAgent}
  p time: #{time}
  if projectList
    ul
      each val in projectList
        li
          span(style='margin-right: 10px;')= '项目名称: ' + val.name
          span(style='margin-right: 10px;') 当前状态: #{val.status}
          button(onclick=`handlePublishClick(${val.id})`) 部署
